body {
  font-size: 0.9em;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(90deg, #fdbb2d 0%, #22c1c3 100%);
}
li {
  padding: 0.3em;
  border-bottom: 1px solid rgb(150, 212, 233);
  color: rgb(65, 71, 78);
  font-size: normal;
}

.done-checkbox {
  accent-color: rgb(83, 136, 233);
  height: 1.4em;
  width: 1.4em;
}

button,
input {
  border: 2px solid gainsboro;
  padding: 0.3em;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

h1 {
  text-align: center;
}
#new-task-title {
  width: 75%;
}
#todo {
  width: 25em;
  padding: 1em;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  border-radius: 15px;
  border-color: rgb(245, 226, 226);
  margin: 2em auto;
  box-shadow: 0 4px 8px 0 rgba(24, 23, 44, 0.2),
    0 6px 20px 0 rgba(38, 64, 136, 0.19);
}
#todo-btn {
  float: right;
  border-radius: 5px;
  color: gray;
  padding: 0.3em;
}
#list {
  list-style: none;
  padding: 0.9em;
}
#delete-btn {
  margin-left: 15px;
  padding: 0;
  height: 19px;
  width: 19px;
  font-size: 0.7em;
  float: right;
  border-radius: 5px;
}
#new-task-form {
  padding: 1em;
}
.completed {
  text-decoration: line-through;
  font-size: small;
  font-style: italic;
  color: rgb(136, 135, 135);
}
#message {
  text-align: center;
  font-size: 1em;
}
#delete-all-btn {
  float: right;
  margin: 0 5px;
  color: gray;
}
